@import '../../common';

#dragging {
  display: none;
  position: absolute;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  cursor: move;
}

p {
  margin-bottom: 8px;
}

.row {
  display: flex;

  paper-input {
    margin: 0 4px;
  }
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(.95);
  background-color: black;
}

.circle {
  width: 16vh;
  height: 16vh;
  margin-left: calc(50% - 8vh);
  padding: 0;
  border-radius: 50%;
  border: 5px solid black;
  background-color: $colorless;

  .background,
  .image {
    height: 100%;
    transform: scale(.95);
    background-color: black;
    border-radius: 50%;
    background-repeat: no-repeat;
  }

  .mask {
    border-radius: 50%;

    &.mask-right {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }

    &.mask-left {
      clip-path: polygon(50% 0, 50% 100%, 0 100%, 0 0);
    }
  }
}

.petal {
  --shape-width: 32.32648vh;
  --shape-height: 32.32648vh;
  clip-path: url(#petal);
  transform: scale(.85);

  .background,
  .border,
  .image {
    clip-path: url(#petal);
  }

  .mask {
    &.mask-left {
      clip-path: url(#halfPetal);
      transform: scale(-.95, .95);
    }

    &.mask-right {
      clip-path: url(#halfPetal);
    }
  }
}

.petal-cover {
  transform: scale(.85);
  width: 32.32648vh;
  height: (32.32648 / 2) * 1vh;
  background-color: var(--google-blue-300);
  opacity: .5;
  border: 3px dashed var(--google-blue-500);
  margin-top: (32.32648 / 2) * -1vh;
  margin-left: calc(50% - #{(32.32648 / 2) * 1vh} - 3px);
  padding: 0;
}

.obtuse-triangle {
  --shape-width: 47.55vh;
  --shape-height: 14.638vh;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform: scale(.85);

  &.inverted {
    clip-path: polygon(0 100%, 100% 100%, 50% 0);

    .background,
    .border,
    .image {
      clip-path: polygon(0 100%, 100% 100%, 50% 0);
    }

    .mask {
      &.mask-left {
        clip-path: polygon(0 100%, 50% 100%, 50% 0);
      }

      &.mask-right {
        clip-path: polygon(50% 100%, 100% 100%, 50% 0);
      }
    }
  }

  .background,
  .border,
  .image {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  .mask {
    &.mask-left {
      clip-path: polygon(0 0, 50% 0, 50% 100%);
    }

    &.mask-right {
      clip-path: polygon(50% 0, 100% 0, 50% 100%);
    }
  }
}

.acute-triangle {
  --shape-width: 21.21vh;
  --shape-height: 25.855vh;
  clip-path: polygon(0 100%, 100% 100%, 50% 0);
  transform: scale(.85);

  &.inverted {
    clip-path: polygon(0 0, 100% 0, 50% 100%);

    .background,
    .border,
    .image {
      transform-origin: 50% 30%;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
    }

    .mask {
      &.mask-left {
        clip-path: polygon(0 0, 50% 0, 50% 100%);
      }

      &.mask-right {
        clip-path: polygon(50% 0, 100% 0, 50% 100%);
      }
    }
  }

  .background,
  .border,
  .image {
    transform-origin: 50% 70%;
    clip-path: polygon(0 100%, 100% 100%, 50% 0);
  }

  .mask {
    &.mask-left {
      clip-path: polygon(0 100%, 50% 100%, 50% 0);
    }

    &.mask-right {
      clip-path: polygon(50% 100%, 100% 100%, 50% 0);
    }
  }
}

.trapezoid {
  --shape-width: 21.21vh;
  --shape-height: 10.55vh;
  clip-path: polygon(0 0, 100% 0, 63.85% 100%, 36.15% 100%);

  &.inverted {
    clip-path: polygon(0 100%, 100% 100%, 63.85% 0, 36.15% 0);

    .background,
    .border,
    .image {
      clip-path: polygon(0 100%, 100% 100%, 63.85% 0, 36.15% 0);
    }

    .mask {
      &.mask-left {
        clip-path: polygon(0 100%, 50% 100%, 50% 0, 36.15% 0);
      }

      &.mask-right {
        clip-path: polygon(50% 100%, 100% 100%, 63.85% 0, 50% 0);
      }
    }
  }

  .background,
  .border,
  .image {
    clip-path: polygon(0 0, 100% 0, 63.85% 100%, 36.15% 100%);
  }

  .mask {
    &.mask-left {
      clip-path: polygon(0 0, 50% 0, 50% 100%, 36.15% 100%);
    }

    &.mask-right {
      clip-path: polygon(50% 0, 100% 0, 63.85% 100%, 50% 100%);
    }
  }
}

.pentagon {
  --shape-width: 20vh;
  --shape-height: 20vh;
  clip-path: polygon(
      50% 100%, 2.45% 65.45%, 20.6125% 9.55%, 79.3875% 9.55%, 97.55% 65.45%);

  .background,
  .border,
  .image {
    clip-path: polygon(
        50% 100%, 2.45% 65.45%, 20.6125% 9.55%, 79.3875% 9.55%, 97.55% 65.45%);
  }

  .mask {
    &.mask-left {
      clip-path: polygon(50% 100%, 2.45% 65.45%, 20.6125% 9.55%, 50% 9.55%);
    }

    &.mask-right {
      clip-path: polygon(50% 100%, 50% 9.55%, 79.3875% 9.55%, 97.55% 65.45%);
    }
  }
}

.petal,
.obtuse-triangle,
.acute-triangle,
.trapezoid,
.pentagon {
  padding: 0;
  background-color: black;
  margin-left: calc(50% - var(--shape-width) / 2);
  width: var(--shape-width);
  height: var(--shape-height);

  .background,
  .border,
  .image {
    transform: scale(.95);
    height: 100%;
    background-repeat: no-repeat;
  }

  .background {
    background-color: $colorless;
  }

  .border {
    background-color: black;
  }
}
