@import '../../common';

#dragging {
  display: none;
  position: absolute;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  cursor: move;
}

p {
  margin-bottom: 8px;
}

.row {
  display: flex;

  paper-input {
    margin: 0 4px;
  }
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(.95);
  background-color: black;
}

.circle {
  width: 16vh;
  height: 16vh;
  margin-left: calc(50% - 8vh);
  padding: 0;
  border-radius: 50%;
  border: 5px solid black;
  background-color: $colorless;

  .background,
  .image {
    height: 100%;
    transform: scale(.95);
    background-color: black;
    border-radius: 50%;
    background-repeat: no-repeat;
  }

  .mask {
    border-radius: 50%;

    &.mask-right {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }

    &.mask-left {
      clip-path: polygon(50% 0, 50% 100%, 0 100%, 0 0);
    }
  }
}

.petal {
  width: 24vh;
  height: 24vh;
  margin-left: calc(50% - 12vh);
  padding: 0;
  background-color: black;
  clip-path: url(#petal);

  .background,
  .border,
  .image {
    transform: scale(.95);
    height: 100%;
    background-repeat: no-repeat;
    clip-path: url(#petal);
  }

  .background {
    background-color: $colorless;
  }

  .border {
    background-color: black;
  }

  .mask {
    &.mask-left {
      clip-path: url(#halfPetal);
      transform: scale(-.95, .95);
    }

    &.mask-right {
      clip-path: url(#halfPetal);
    }
  }
}

.petal-cover {
  width: 24vh;
  height: 12vh;
  background-color: var(--google-blue-300);
  opacity: .5;
  border: 3px dashed var(--google-blue-500);
  margin-top: -12vh;
  margin-left: calc(50% - 12vh - 3px);
  padding: 0;
}
