<style include="image-adjuster"></style>

<div id="dragging"
    on-mousemove="handleDrag_"
    on-touchmove="handleDrag_"
    on-mouseup="handleDragend_"
    on-touchend="handleDragend_"></div>
<paper-dialog
    id="dialog"
    allow-click-through="false"
    always-on-top
    modal
    entry-animation="scale-up-animation"
    exit-animation="fade-out-animation"
    on-opened-changed="handleOpenClose_">
  <h2>Adjust the image for [[adjustment.card.name]]</h2>
  <p>Drag the image or type values to move it.</p>
  <p>Use your scroll wheel, pinch the screen, or type values to change the
    image's size.</p>
  <template is="dom-if" if="[[isCircle_(shape)]]">
    <div class="circle">
      <div class="background">
        <div class="image"
            style$="background-image: url([[adjustment.card.image.art]]);
                background-size:
                    calc([[initialWidth_(16, 16, imgRatio_)]]vh
                        * [[adjustment.scaleW]])
                    calc([[initialHeight_(16, 16, imgRatio_)]]vh
                        * [[adjustment.scaleH]]);
                background-position:
                    calc([[initialOffsetX_(16, 16, imgRatio_)]]vh
                        + [[adjustment.left]]vh + [[pxOffsetX_]]px)
                    calc([[adjustment.top]]vh + [[pxOffsetY_]]px)"
            on-mousedown="handleDragstart_"></div>
        <template is="dom-if" if="[[!isFull]]">
          <div class$="[[halfMask_(isLeft)]]"
              on-mousedown="handleDragstart_"></div>
        </template>
      </div>
    </div>
  </template>
  <template is="dom-if" if="[[isPetal_(shape)]]">
    <div class="petal">
      <div class="background">
        <div class="border">
          <div class="image"
              style$="background-image: url([[adjustment.card.image.art]]);
                  background-size:
                      calc([[initialWidth_(24, 24, imgRatio_)]]vh
                          * [[adjustment.scaleW]])
                      calc([[initialHeight_(24, 24, imgRatio_)]]vh
                          * [[adjustment.scaleH]]);
                  background-position:
                      calc([[initialOffsetX_(24, 24, imgRatio_)]]vh
                          + [[adjustment.left]]vh + [[pxOffsetX_]]px)
                      calc([[adjustment.top]]vh + [[pxOffsetY_]]px)"
              on-mousedown="handleDragstart_"></div>
          <template is="dom-if" if="[[!isFull]]">
            <div class$="[[halfMask_(isLeft)]]"
                on-mousedown="handleDragstart_"></div>
          </template>
        </div>
      </div>
    </div>
    <div class="petal-cover" on-mousedown="handleDragstart_"></div>
  </template>
  <template is="dom-if" if="[[isObtuseTriangle_(shape)]]">
    <div class$="obtuse-triangle [[isInvertedObtuseTriangle_(shape)]]">
      <div class="background">
        <div class="border">
          <div class="image"
              style$="background-image: url([[adjustment.card.image.art]]);
                  background-size:
                      calc([[initialWidth_(47.55, 14.638, imgRatio_)]]vh
                          * [[adjustment.scaleW]])
                      calc([[initialHeight_(47.55, 14.638, imgRatio_)]]vh
                          * [[adjustment.scaleH]]);
                  background-position:
                      calc([[initialOffsetX_(47.55, 14.638, imgRatio_)]]vh
                          + [[adjustment.left]]vh + [[pxOffsetX_]]px)
                      calc([[adjustment.top]]vh + [[pxOffsetY_]]px)"
              on-mousedown="handleDragstart_"
              on-touchstart="handleDragstart_"></div>
        </div>
        <template is="dom-if" if="[[!isFull]]">
          <div class$="[[halfMask_(isLeft)]]"
              on-mousedown="handleDragstart_"
              on-touchstart="handleDragstart_"></div>
        </template>
      </div>
    </div>
  </template>
  <template is="dom-if" if="[[isAcuteTriangle_(shape)]]">
    <div class$="acute-triangle [[isInvertedAcuteTriangle_(shape)]]">
      <div class="background">
        <div class="border">
          <div class="image"
              style$="background-image: url([[adjustment.card.image.art]]);
                  background-size:
                      calc([[initialWidth_(21.21, 25.855, imgRatio_)]]vh
                          * [[adjustment.scaleW]])
                      calc([[initialHeight_(21.21, 25.855, imgRatio_)]]vh
                          * [[adjustment.scaleH]]);
                  background-position:
                      calc([[initialOffsetX_(21.21, 25.855, imgRatio_)]]vh
                          + [[adjustment.left]]vh + [[pxOffsetX_]]px)
                      calc([[adjustment.top]]vh + [[pxOffsetY_]]px)"
              on-mousedown="handleDragstart_"
              on-touchstart="handleDragstart_"></div>
        </div>
        <template is="dom-if" if="[[!isFull]]">
          <div class$="[[halfMask_(isLeft)]]"
              on-mousedown="handleDragstart_"
              on-touchstart="handleDragstart_"></div>
        </template>
      </div>
    </div>
  </template>
  <template is="dom-if" if="[[isTrapezoid_(shape)]]">
    <div class$="trapezoid [[isInvertedTrapezoid_(shape)]]">
      <div class="background">
        <div class="border">
          <div class="image"
              style$="background-image: url([[adjustment.card.image.art]]);
                  background-size:
                      calc([[initialWidth_(21.21, 10.55, imgRatio_)]]vh
                          * [[adjustment.scaleW]])
                      calc([[initialHeight_(21.21, 10.55, imgRatio_)]]vh
                          * [[adjustment.scaleH]]);
                  background-position:
                      calc([[initialOffsetX_(21.21, 10.55, imgRatio_)]]vh
                          + [[adjustment.left]]vh + [[pxOffsetX_]]px)
                      calc([[adjustment.top]]vh + [[pxOffsetY_]]px)"
              on-mousedown="handleDragstart_"
              on-touchstart="handleDragstart_"></div>
        </div>
        <template is="dom-if" if="[[!isFull]]">
          <div class$="[[halfMask_(isLeft)]]"
              on-mousedown="handleDragstart_"
              on-touchstart="handleDragstart_"></div>
        </template>
      </div>
    </div>
  </template>
  <template is="dom-if" if="[[isPentagon_(shape)]]">
    <div class="pentagon">
      <div class="background">
        <div class="border">
          <div class="image"
              style$="background-image: url([[adjustment.card.image.art]]);
                  background-size:
                      calc([[initialWidth_(20, 20, imgRatio_)]]vh
                          * [[adjustment.scaleW]])
                      calc([[initialHeight_(20, 20, imgRatio_)]]vh
                          * [[adjustment.scaleH]]);
                  background-position:
                      calc([[initialOffsetX_(20, 20, imgRatio_)]]vh
                          + [[adjustment.left]]vh + [[pxOffsetX_]]px)
                      calc([[adjustment.top]]vh + [[pxOffsetY_]]px)"
              on-mousedown="handleDragstart_"
              on-touchstart="handleDragstart_"></div>
        </div>
        <template is="dom-if" if="[[!isFull]]">
          <div class$="[[halfMask_(isLeft)]]"
              on-mousedown="handleDragstart_"
              on-touchstart="handleDragstart_"></div>
        </template>
      </div>
    </div>
  </template>
  <div class="row">
    <paper-input label="Horizontal offset"
        always-float-label
        type="number"
        step=".1"
        value="{{adjustment.left}}"></paper-input>
    <paper-input label="Vertical offset"
        always-float-label
        type="number"
        step=".1"
        value="{{adjustment.top}}"></paper-input>
  </div>
  <div class="row">
    <paper-input label="Scale width"
        always-float-label
        type="number"
        step=".01"
        min=".01"
        value="{{adjustment.scaleW}}"></paper-input>
    <paper-input label="Scale height"
        always-float-label
        type="number"
        step=".01"
        min=".01"
        value="{{adjustment.scaleH}}"></paper-input>
  </div>
  <div class="buttons">
    <paper-button dialog-dismiss>Cancel</paper-button>
    <paper-button on-tap="handleConfirm_">Select</paper-button>
  </div>
</paper-dialog>
