@import '../../common';

$white: #fffbd5;
$blue: #aae0fa;
$black: #cbc2bf;
$red: #f9aa8f;
$green: #9bd3ae;
$colorless: #ccc2c0;

// pentagon calculations
$sqrtTenPlus2sqrt5: 3.804;
$sqrtTenMinus2sqrt5: 2.351;
$sqrt5Plus1: 3.236;
$sqrt5Minus1: 1.236;
$c1: $sqrt5Minus1 / 4;
$c2: $sqrt5Plus1 / 4;
$s1: $sqrtTenPlus2sqrt5 / 4;
$s2: $sqrtTenMinus2sqrt5 / 4;

@function invert($n) {
  // $n: number in rane [0,1]
  // return: number in range [1,0]
  @return (1 - $n);
}

@function range-scale($n) {
  // $n: number in range [-1,1]
  // return: number in range [0,1]
  @return ($n + 1) / 2;
}

@mixin point($x, $y, $unit, $scale: 100) {
  // $x: x-coordinate in range [-1,1]
  // $y: y-coordinate in range [-1,1]
  // $unit: unit for display
  // convert $x to range [0,1] and multiply by 100#{$unit}
  // convert $y to range [0,1], invert (1 - $y), and multiply by 100#{$unit}
  left: range-scale($x) * $scale#{$unit};
  top: invert(range-scale($y)) * $scale#{$unit};
}

@mixin gradient-bg($color1, $color2: null, $color3: null, $color4: null, $color5: null, $angle: 90deg) {
  // creates a linear-gradient with hard stops equally distributed between each color (up to 5 colors)
  @if $color5 {
    background: linear-gradient(
      $angle,
      $color1 0%, $color1 20%,
      $color2 20%, $color2 40%,
      $color3 40%, $color3 60%,
      $color4 60%, $color4 80%,
      $color5 80%, $color5 100%);
  } @else if $color4 {
    background: linear-gradient(
      $angle,
      $color1 0%, $color1 25%,
      $color2 25%, $color2 50%,
      $color3 50%, $color3 75%,
      $color4 75%, $color4 100%);
  } @else if $color3 {
    background: linear-gradient(
      $angle,
      $color1 0%, $color1 33%,
      $color2 33%, $color2 66%,
      $color3 66%, $color3 100%);
  } @else if $color2 {
    background: linear-gradient(
      $angle,
      $color1 0%, $color1 50%,
      $color2 50%, $color2 100%);
  } @else {
    background-color: $color1;
  }
}

@mixin conic-bg($color1, $color2: null, $color3: null, $color4: null, $color5: null, $start: 0, $scale: 100) {
  // creates a conic-gradient with hard stops equally distributed between each color (up to 5 colors)
  @if $color5 {
    background: conic-gradient(
      from #{$start}turn,
      $color1 0%, $color1 ($scale / 5) * 1%,
      $color2 ($scale / 5) * 1%, $color2 (2 * $scale / 5) * 1%,
      $color3 (2 * $scale / 5) * 1%, $color3 (3 * $scale / 5) * 1%,
      $color4 (3 * $scale / 5) * 1%, $color4 (4 * $scale / 5) * 1%,
      $color5 (4 * $scale / 5) * 1%, $color5 $scale * 1%);
  } @else if $color4 {
    background: conic-gradient(
      from #{$start}turn,
      $color1 0, $color1 ($scale / 4) * 1%,
      $color2 ($scale / 4) * 1%, $color2 (2 * $scale / 4) * 1%,
      $color3 (2 * $scale / 4) * 1%, $color3 (3 * $scale / 4) * 1%,
      $color4 (3 * $scale / 4) * 1%, $color4 $scale * 1%);
  } @else if $color3 {
    background: conic-gradient(
      from #{$start}turn,
      $color1 0%, $color1 ($scale / 3) * 1%,
      $color2 ($scale / 3) * 1%, $color2 (2 * $scale / 3) * 1%,
      $color3 (2 * $scale / 3) * 1%, $color3 $scale * 1%);
  } @else if $color2 {
    background: conic-gradient(
      from #{$start}turn,
      $color1 0%, $color1 ($scale / 2) * 1%,
      $color2 ($scale / 2) * 1%, $color2 $scale * 1%);
  } @else {
    background-color: $color1;
  }
}

.mana-symbol {
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
}

.dot {
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
}

.white-mana {
  background-color: $white;
}

.blue-mana {
  background-color: $blue;
}

.black-mana {
  background-color: $black;
}

.red-mana {
  background-color: $red;
}

.green-mana {
  background-color: $green;
}

.colorless-mana,
.any-type {
  background-color: $colorless;
}

#content {
  position: relative;
  transform: scale(.9);
  left: 5vh;
}

.deck {
  position: absolute;
}

.ally,
.wedge {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: top left;

  .background {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}

.shard {
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  transform-origin: top center;

  .background {
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }
}

.enemy {
  clip-path: polygon(0 0, 100% 0, 63.85% 100%, 36.15% 100%);
  transform-origin: top left;

  .background {
    clip-path: polygon(0 0, 100% 0, 63.85% 100%, 36.15% 100%);
  }
}

.ally,
.wedge,
.shard,
.enemy,
.four-color,
.pentacolor {
  background-color: black;

  .background {
    width: 100%;
    height: 100%;
    transform: scale(.95);
  }
}

// Allied guilds
.azorius {
  transform: rotate(36deg);

  .background {
    @include gradient-bg($white, $blue);
  }
}

.dimir {
  transform: rotate(108deg);

  .background {
    @include gradient-bg($blue, $black);
  }
}

.rakdos {
  transform: rotate(180deg);

  .background {
    @include gradient-bg($black, $red);
  }
}

.gruul {
  transform: rotate(252deg);

  .background {
    @include gradient-bg($red, $green);
  }
}

.selesnya {
  transform: rotate(324deg);

  .background {
    @include gradient-bg($green, $white);
  }
}

// Khans wedges
.jeskai {
  transform: rotate(36deg) scaleY(-1);

  .background {
    @include gradient-bg($white, $red, $blue);
  }
}

.sultai {
  transform: rotate(108deg) scaleY(-1);

  .background {
    @include gradient-bg($blue, $green, $black);
  }
}

.mardu {
  transform: rotate(180deg) scaleY(-1);

  .background {
    @include gradient-bg($black, $white, $red);
  }
}

.temur {
  transform: rotate(252deg) scaleY(-1);

  .background {
    @include gradient-bg($red, $blue, $green);
  }
}

.abzan {
  transform: rotate(324deg) scaleY(-1);

  .background {
    @include gradient-bg($green, $black, $white);
  }
}

// Alara shards
.bant {
  transform: translate(var(--minus-shard-half-width), 0);

  .background {
    @include gradient-bg($green, $white, $blue);
  }
}

.esper {
  transform: translate(var(--minus-shard-half-width), 0) rotate(72deg);

  .background {
    @include gradient-bg($white, $blue, $black);
  }
}

.grixis {
  transform: translate(var(--minus-shard-half-width), 0) rotate(144deg);

  .background {
    @include gradient-bg($blue, $black, $red);
  }
}

.jund {
  transform: translate(var(--minus-shard-half-width), 0) rotate(216deg);

  .background {
    @include gradient-bg($black, $red, $green);
  }
}

.naya {
  transform: translate(var(--minus-shard-half-width), 0) rotate(288deg);

  .background {
    @include gradient-bg($red, $green, $white);
  }
}

// Enemy guilds
.simic {
  .background {
    @include gradient-bg($green, $blue);
  }
}

.orzhov {
  transform: rotate(72deg);

  .background {
    @include gradient-bg($white, $black);
  }
}

.izzet {
  transform: rotate(144deg);

  .background {
    @include gradient-bg($blue, $red);
  }
}

.golgari {
  transform: rotate(216deg);

  .background {
    @include gradient-bg($black, $green);
  }
}

.boros {
  transform: rotate(288deg);

  .background {
    @include gradient-bg($red, $white);
  }
}

// Other
.pentacolor {
  clip-path: polygon(
    range-scale(0) * 100% invert(range-scale(-1)) * 100%,
    range-scale(-$s1) * 100% invert(range-scale(-$c1)) * 100%,
    range-scale(-$s2) * 100% invert(range-scale($c2)) * 100%,
    range-scale($s2) * 100% invert(range-scale($c2)) * 100%,
    range-scale($s1) * 100% invert(range-scale(-$c1)) * 100%);

  .background {
    clip-path: polygon(
      range-scale(0) * 100% invert(range-scale(-1)) * 100%,
      range-scale(-$s1) * 100% invert(range-scale(-$c1)) * 100%,
      range-scale(-$s2) * 100% invert(range-scale($c2)) * 100%,
      range-scale($s2) * 100% invert(range-scale($c2)) * 100%,
      range-scale($s1) * 100% invert(range-scale(-$c1)) * 100%);
    background: conic-gradient($white, $blue, $black, $red, $green, $white);
  }
}

.four-color-constellation {
  position: absolute;
  transform-origin: center;
  transform: scale(1.1);
}

.four-color {
  clip-path: polygon(
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    50% 50%);
  border-radius: 50%;

  .background {
    clip-path: polygon(
      0 95%,
      0 0,
      100% 0,
      100% 95%,
      50% 45%);
    border-radius: 50%;
  }
}

.landscape {
  // shape dimensions
  .ally,
  .wedge {
    // length of line between mono-colors
    width: 47.55vh;
    // 85% of the distance from midpoint of hypotenuse to 4C dot
    height: 14.6829vh;
  }

  .shard {
    --minus-shard-half-width: -10.60475vh;
    // distance between interior vertices of ally pair triangles
    width: 21.2095vh;
    // ditance from midpoint between adjacent all pair triangles to shared mono-color
    height: 25.855vh;
  }

  .enemy {
    // width of shard triangles
    width: 21.2095vh;
    // distance from base of shard tirangle to edge of pentacolor pentagon
    height: 10.55vh;
  }

  .pentacolor {
    width: 10vh;
    height: 10vh;
    top: 45vh;
    left: 45vh;
  }

  .four-color {
    --minus-4c-half-width: -4.2818625vh;
    width: 8.563725vh; // .9 * 2.25 * 50px at my default resolution
    height: 8.563725vh;
  }

  // 4C combos
  .dot {
    width: 1.6916vh; // 20px at my default resolution
    height: 1.6916vh;
    border-width: .4229vh; // 5px at my default resolution
    transform: translate(-1.2687vh, -1.2687vh); // half (width+border)
  }

  .four-color-constellation {
    width: 95.1vh; // largest horizontal distance between .dot elements
    height: 90.45vh; // largest vertical distance between .dot elements
  }

  .whiteless {
    @include point(0, -1, vh);

    &.deck {
      transform: translate(var(--minus-4c-half-width), var(--minus-4c-half-width)) rotate(180deg);

      .background {
        @include conic-bg($blue, $black, $red, $green, $start: -.375, $scale: 75);
      }
    }
  }

  .blueless {
    @include point(-$s1, -$c1, vh);

    &.deck {
      transform: translate(var(--minus-4c-half-width), var(--minus-4c-half-width)) rotate(252deg);

      .background {
        @include conic-bg($black, $red, $green, $white, $start: -.375, $scale: 75);
      }
    }
  }

  .blackless {
    @include point(-$s2, $c2, vh);

    &.deck {
      transform: translate(var(--minus-4c-half-width), var(--minus-4c-half-width)) rotate(324deg);

      .background {
        @include conic-bg($red, $green, $white, $blue, $start: -.375, $scale: 75);
      }
    }
  }

  .redless {
    @include point($s2, $c2, vh);

    &.deck {
      transform: translate(var(--minus-4c-half-width), var(--minus-4c-half-width)) rotate(36deg);

      .background {
        @include conic-bg($green, $white, $blue, $black, $start: -.375, $scale: 75);
      }
    }
  }

  .greenless {
    @include point($s1, -$c1, vh);

    &.deck {
      transform: translate(var(--minus-4c-half-width), var(--minus-4c-half-width)) rotate(108deg);

      .background {
        @include conic-bg($white, $blue, $black, $red, $start: -.375, $scale: 75);
      }
    }
  }

  // Allied guilds
  .azorius {
    @include point(0, $c2, vh);
  }

  .dimir {
    @include point(($s1 - $s2) / 2 + $s2, $c2 - ($c1 + $c2) / 2, vh);
  }

  .rakdos {
    @include point($s1 / 2, ($c1 - 1) / 2 - $c1, vh);
  }

  .gruul {
    @include point($s1 / 2 - $s1, ($c1 - 1) / 2 - $c1, vh);
  }

  .selesnya {
    @include point(($s1 - $s2) / 2 - $s1, $c2 - ($c1 + $c2) / 2, vh);
  }

  // Enemy guilds
  .simic {
    // bottom-left corner of bant triangle
    left: 39.39425vh;
    top: 35.405vh;
  }

  .orzhov {
    // bottom-right corner of bant triangle
    left: 60.60375vh;
    top: 35.405vh;
  }

  .izzet {
    // corner shared by esper, dimir, and grixis
    left: 67.1578vh;
    top: 55.576vh;
  }

  .golgari {
    // corner shared by grixis, rakdos, and jund
    left: 50.019vh;
    top: 68.0426vh;
  }

  .boros {
    // corner shared by jund, gruul, and naya
    left: 32.8602vh;
    top: 55.576vh;
  }

  // Khans wedges
  .jeskai {
    @include point(0, $c2, vh);
  }

  .sultai {
    @include point(($s1 - $s2) / 2 + $s2, $c2 - ($c1 + $c2) / 2, vh);
  }

  .mardu {
    @include point($s1 / 2, ($c1 - 1) / 2 - $c1, vh);
  }

  .temur {
    @include point($s1 / 2 - $s1, ($c1 - 1) / 2 - $c1, vh);
  }

  .abzan {
    @include point(($s1 - $s2) / 2 - $s1, $c2 - ($c1 + $c2) / 2, vh);
  }

  // Alara shards
  .bant {
    @include point(0, $c2, vh);
  }

  .esper {
    @include point(($s1 - $s2) / 2 + $s2, $c2 - ($c1 + $c2) / 2, vh);
  }

  .grixis {
    @include point($s1 / 2, ($c1 - 1) / 2 - $c1, vh);
  }

  .jund {
    @include point($s1 / 2 - $s1, ($c1 - 1) / 2 - $c1, vh);
  }

  .naya {
    @include point(($s1 - $s2) / 2 - $s1, $c2 - ($c1 + $c2) / 2, vh);
  }

  .mana-symbol {
    width: 9.51525vh; // 2.25 * 50px at my default resolution
    height: 9.51525vh;
    padding: .4229vh; // 5px at my default resolution
    border-width: .4229vh;
    transform: translate(-5.60342vh, -5.60342vh); // half width+padding+border

    &.white-mana {
      // midpoint between blackless and redless
      @include point(0, $c2, vh);
    }

    &.blue-mana {
      // midpoint between redless and greenless
      @include point(($s1 - $s2) / 2 + $s2, $c2 - ($c1 + $c2) / 2, vh);
    }

    &.black-mana {
      // midpoint between greenless and whiteless
      @include point($s1 / 2, ($c1 - 1) / 2 - $c1, vh);
    }

    &.red-mana {
      // midpoint between whiteless and blueless
      @include point($s1 / 2 - $s1, ($c1 - 1) / 2 - $c1, vh);
    }

    &.green-mana {
      // midpoint between blueless and blackless
      @include point(($s1 - $s2) / 2 - $s1, $c2 - ($c1 + $c2) / 2, vh);
    }

    &.colorless-mana {
      // horizontal midpoint between blue and black
      // vertical equal to whiteless
      @include point($s1 / 2 + $s2 / 4, -1, vh);
    }
  }
}

.portrait {
  .mana-symbol {
    &.white-mana {
      left: calc(50vw - 35px);
      top: 0;
    }

    &.blue-mana {
      left: calc(100vw - 70px);
      top: calc(33.754vw + 35px)
    }

    &.black-mana {
      left: calc(81.243vw - 35px);
      top: calc(100vw - 70px);
    }

    &.red-mana {
      left: calc(18.757vw + 35px);
      top: calc(100vw - 70px);
    }

    &.green-mana {
      left: 0;
      top: calc(33.754vh + 35px);
    }
  }
}
