@import '../../common';

$white: #fffbd5;
$blue: #aae0fa;
$black: #cbc2bf;
$red: #f9aa8f;
$green: #9bd3ae;

// pentagon calculations
$sqrtTenPlus2sqrt5: 3.804;
$sqrtTenMinus2sqrt5: 2.351;
$sqrt5Plus1: 3.236;
$sqrt5Minus1: 1.236;
$c1: $sqrt5Minus1 / 4;
$c2: $sqrt5Plus1 / 4;
$s1: $sqrtTenPlus2sqrt5 / 4;
$s2: $sqrtTenMinus2sqrt5 / 4;

@function invert($n) {
  // $n: number in rane [0,1]
  // return: number in range [1,0]
  @return (1 - $n);
}

@function range-scale($n) {
  // $n: number in range [-1,1]
  // return: number in range [0,1]
  @return ($n + 1) / 2;
}

  // $x: x-coordinate in range [-1,1]
  // $y: y-coordinate in range [-1,1]
  // $unit: unit for display
  // convert $x to range [0,1] and multiply by 100#{$unit}
  // convert $y to range [0,1], invert (1 - $y), and multiply by 100#{$unit}
  left: ($x + 1) / 2 * 100#{$unit};
  top: (1 - ($y + 1) / 2) * 100#{$unit};
}

@mixin gradient-bg($color1, $color2: null, $color3: null, $color4: null, $color5: null, $angle: 90deg) {
  @if $color5 {
    background: linear-gradient(
      $angle,
      $color1 0%, $color1 20%,
      $color2 20%, $color2 40%,
      $color3 40%, $color3 60%,
      $color4 60%, $color4 80%,
      $color5 80%, $color5 100%);
  } @else if $color4 {
    background: linear-gradient(
      $angle,
      $color1 0%, $color1 25%,
      $color2 25%, $color2 50%,
      $color3 50%, $color3 75%,
      $color4 75%, $color4 100%);
  } @else if $color3 {
    background: linear-gradient(
      $angle,
      $color1 0%, $color1 33%,
      $color2 33%, $color2 66%,
      $color3 66%, $color3 100%);
  } @else if $color2 {
    background: linear-gradient(
      $angle,
      $color1 0%, $color1 50%,
      $color2 50%, $color2 100%);
  } @else {
    background-color: $color1;
  }
}

.mana-symbol {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 5px black solid;
  border-radius: 50%;
  position: absolute;
  transform: translate(-35px, -35px);
}

.dot {
  width: 20px;
  height: 20px;
  border: 5px black solid;
  border-radius: 50%;
  position: absolute;
  transform: translate(-15px, -15px);
}

.white-mana {
  background-color: $white;
}

.blue-mana {
  background-color: $blue;
}

.black-mana {
  background-color: $black;
}

.red-mana {
  background-color: $red;
}

.green-mana {
  background-color: $green;
}

#content {
  position: relative;
  transform: scale(.9);
}

.deck {
  position: absolute;
}

.ally,
.wedge {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: top left;

  .background {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}

.shard {
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  transform-origin: top center;

  .background {
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }
}

.ally,
.wedge,
.shard {
  background-color: black;

  .background {
    width: 100%;
    height: 100%;
    transform: scale(.95);
  }
}

.azorius {
  transform: rotate(36deg);

  .background {
    @include gradient-bg($white, $blue);
  }
}

.dimir {
  transform: rotate(108deg);

  .background {
    @include gradient-bg($blue, $black);
  }
}

.rakdos {
  transform: rotate(180deg);

  .background {
    @include gradient-bg($black, $red);
  }
}

.gruul {
  transform: rotate(252deg);

  .background {
    @include gradient-bg($red, $green);
  }
}

.selesnya {
  transform: rotate(324deg);

  .background {
    @include gradient-bg($green, $white);
  }
}

.jeskai {
  transform: rotate(36deg) scaleY(-1);

  .background {
    @include gradient-bg($white, $red, $blue);
  }
}

.sultai {
  transform: rotate(108deg) scaleY(-1);

  .background {
    @include gradient-bg($blue, $green, $black);
  }
}

.mardu {
  transform: rotate(180deg) scaleY(-1);

  .background {
    @include gradient-bg($black, $white, $red);
  }
}

.temur {
  transform: rotate(252deg) scaleY(-1);

  .background {
    @include gradient-bg($red, $blue, $green);
  }
}

.abzan {
  transform: rotate(324deg) scaleY(-1);

  .background {
    @include gradient-bg($green, $black, $white);
  }
}

.bant {
  transform: translate(var(--minus-shard-half-width), 0);

  .background {
    @include gradient-bg($green, $white, $blue);
  }
}

.esper {
  transform: translate(var(--minus-shard-half-width), 0) rotate(72deg);

  .background {
    @include gradient-bg($white, $blue, $black);
  }
}

.grixis {
  transform: translate(var(--minus-shard-half-width), 0) rotate(144deg);

  .background {
    @include gradient-bg($blue, $black, $red);
  }
}

.jund {
  transform: translate(var(--minus-shard-half-width), 0) rotate(216deg);

  .background {
    @include gradient-bg($black, $red, $green);
  }
}

.naya {
  transform: translate(var(--minus-shard-half-width), 0) rotate(288deg);

  .background {
    @include gradient-bg($red, $green, $white);
  }
}

.landscape {
  // shape dimensions
  .ally,
  .wedge {
    // length of line between mono-colors
    width: 47.55vh;
    // 85% of the distance from midpoint of hypotenuse to 4C dot
    height: 14.6829vh;
  }

  .shard {
    --minus-shard-half-width: -10.60475vh;
    // distance between interior vertices of ally pair triangles
    width: 21.2095vh;
    // ditance from midpoint between adjacent all pair triangles to shared mono-color
    height: 25.855vh;
  }

  // 4C combos
  .whiteless {
    @include point(0, -1, vh);
  }

  .blueless {
    @include point(-$s1, -$c1, vh);
  }

  .blackless {
    @include point(-$s2, $c2, vh);
  }

  .redless {
    @include point($s2, $c2, vh);
  }

  .greenless {
    @include point($s1, -$c1, vh);
  }

  // Allied guilds
  .azorius {
    @include point(0, $c2, vh);
  }

  .dimir {
    @include point(($s1 - $s2) / 2 + $s2, $c2 - ($c1 + $c2) / 2, vh);
  }

  .rakdos {
    @include point($s1 / 2, ($c1 - 1) / 2 - $c1, vh);
  }

  .gruul {
    @include point($s1 / 2 - $s1, ($c1 - 1) / 2 - $c1, vh);
  }

  .selesnya {
    @include point(($s1 - $s2) / 2 - $s1, $c2 - ($c1 + $c2) / 2, vh);
  }

  // Khans wedges
  .jeskai {
    @include point(0, $c2, vh);
  }

  .sultai {
    @include point(($s1 - $s2) / 2 + $s2, $c2 - ($c1 + $c2) / 2, vh);
  }

  .mardu {
    @include point($s1 / 2, ($c1 - 1) / 2 - $c1, vh);
  }

  .temur {
    @include point($s1 / 2 - $s1, ($c1 - 1) / 2 - $c1, vh);
  }

  .abzan {
    @include point(($s1 - $s2) / 2 - $s1, $c2 - ($c1 + $c2) / 2, vh);
  }

  // Alara shards
  .bant {
    @include point(0, $c2, vh);
  }

  .esper {
    @include point(($s1 - $s2) / 2 + $s2, $c2 - ($c1 + $c2) / 2, vh);
  }

  .grixis {
    @include point($s1 / 2, ($c1 - 1) / 2 - $c1, vh);
  }

  .jund {
    @include point($s1 / 2 - $s1, ($c1 - 1) / 2 - $c1, vh);
  }

  .naya {
    @include point(($s1 - $s2) / 2 - $s1, $c2 - ($c1 + $c2) / 2, vh);
  }

  .mana-symbol {
    &.white-mana {
      // midpoint between blackless and redless
      @include point(0, $c2, vh);
    }

    &.blue-mana {
      // midpoint between redless and greenless
      @include point(($s1 - $s2) / 2 + $s2, $c2 - ($c1 + $c2) / 2, vh);
    }

    &.black-mana {
      // midpoint between greenless and whiteless
      @include point($s1 / 2, ($c1 - 1) / 2 - $c1, vh);
    }

    &.red-mana {
      // midpoint between whiteless and blueless
      @include point($s1 / 2 - $s1, ($c1 - 1) / 2 - $c1, vh);
    }

    &.green-mana {
      // midpoint between blueless and blackless
      @include point(($s1 - $s2) / 2 - $s1, $c2 - ($c1 + $c2) / 2, vh);
    }
  }
}

.portrait {
  .mana-symbol {
    &.white-mana {
      left: calc(50vw - 35px);
      top: 0;
    }

    &.blue-mana {
      left: calc(100vw - 70px);
      top: calc(33.754vw + 35px)
    }

    &.black-mana {
      left: calc(81.243vw - 35px);
      top: calc(100vw - 70px);
    }

    &.red-mana {
      left: calc(18.757vw + 35px);
      top: calc(100vw - 70px);
    }

    &.green-mana {
      left: 0;
      top: calc(33.754vh + 35px);
    }
  }
}
