<style include="challenge-32"></style>
<iron-ajax
  auto
  url="/commanders"
  handle-as="json"
  on-response="getCommanders_"></iron-ajax>

<iconset-mtg></iconset-mtg>
<paper-tooltip
    fit-to-visible-bounds
    for="menuButton">Toggle edit menu</paper-tooltip>
<paper-icon-button
    id="menuButton"
    icon="menu"
    on-tap="toggleMenu_"></paper-icon-button>
<!-- linthtml-configure attr-bans="false" -->
<app-drawer
    id="menu"
    align="end"
    on-opened-changed="handleMenuToggle_">
<!-- linthtml-configure attr-bans="$previous" -->
  <h2>Edit commanders</h2>
  <toggle-button-group
      attr-for-value="color"
      value="{{editId_}}"
      on-group-value-changed="handleEditIdChanged_">
    <icon-toggle-button icon="mtg:w" color="W"></icon-toggle-button>
    <icon-toggle-button icon="mtg:u" color="U"></icon-toggle-button>
    <icon-toggle-button icon="mtg:b" color="B"></icon-toggle-button>
    <icon-toggle-button icon="mtg:r" color="R"></icon-toggle-button>
    <icon-toggle-button icon="mtg:g" color="G"></icon-toggle-button>
    <icon-toggle-button icon="mtg:c" color="C"></icon-toggle-button>
  </toggle-button-group>
  <h3>[[identityToName_(editId_)]]: [[editId_]]</h3>
  <p>
    Selected commander(s):
    <template is="dom-if" if="[[hasCommanderFor_(editId_, diagram_.*)]]">
      <template is="dom-repeat" items="[[commanderFor_(editId_, diagram_.*)]]">
        <template is="dom-if" if="[[index]]">
          &
        </template>
        <span class="bold">[[item.name]]</span>
      </template>
    </template>
    <template is="dom-if" if="[[!hasCommanderFor_(editId_, diagram_.*)]]">
      <span class="italic">None</span>
    </template>
  </p>
  <paper-button on-tap="listEditCommanders_">
    <template is="dom-if" if="[[hasCommanderFor_(editId_, diagram_.*)]]">
      Change selected commander(s)
    </template>
    <template is="dom-if" if="[[!hasCommanderFor_(editId_, diagram_.*)]]">
      Select commander
    </template>
  </paper-button>
  <div class="commander-images">
    <template is="dom-repeat" items="[[commanderFor_(editId_, diagram_.*)]]">
      <div class="art-edit" style$="background-image: url([[item.image.art]])">
        <div class="hover-message" on-tap="handleImageAdjust_">
          <span>Click to adjust image</span>
        </div>
      </div>
    </template>
  </div>
</app-drawer>

<div id="content">
  <img src="/images/c.svg"
      class="colorless-mana mana-symbol deck"
      alt="mana symbol"
      on-tap="listCCommanders_"
      on-mousemove="handlePreviewHoverHelper_"
      on-mouseleave="handlePreviewUnhover_">
  <div class="colorless-mana deck colorless"
      style$="visibility: [[isVisible_(diagram_.colorless)]]"
      on-tap="listCCommanders_"
      on-mousemove="handlePreviewHover_"
      on-mouseleave="handlePreviewUnhover_">
    <div class="background">
      <div class="image"
          style$="background-image: url([[diagram_.colorless.0.image.art]])">
      </div>
      <template is="dom-if" if="[[diagram_.colorless.1]]">
        <div class="image"
            style$="background-image: url([[diagram_.colorless.1.image.art]])">
        </div>
        <div class="partner-separator"></div>
      </template>
    </div>
  </div>

  <template is="dom-repeat" items="[[generatorData_]]">
    <template is="dom-if" if="[[hasSymbolUrl_(item)]]">
      <img src$="/images/[[item.id]].svg"
          class$="[[item.type]] mana-symbol deck"
          alt="mana symbol"
          on-tap="generatorItemTapped_"
          on-mousemove="handlePreviewHoverHelper_"
          on-mouseleave="handlePreviewUnhover_">
    </template>
    <div class$="[[item.type]] deck [[item.name]]"
        on-tap="generatorItemTapped_"
        on-mousemove="handlePreviewHover_"
        on-mouseleave="handlePreviewUnhover_">
      <div class="background">
        <div class="border" style$="visibility: [[isVisible_(item.data)]]">
          <div class="image"
              style$="background-image: url([[getArt_(item.data, 0)]])"></div>
          <template is="dom-if" if="[[hasPartner_(item.data)]]">
            <div class="image"
                style$="background-image: url([[getArt_(item.data, 1)]])"></div>
            <div class="partner-separator"></div>
          </template>
        </div>
      </div>
    </div>
  </template>

  <div class="white-mana dot whiteless"></div>
  <div class="blue-mana dot blueless"></div>
  <div class="black-mana dot blackless"></div>
  <div class="red-mana dot redless"></div>
  <div class="green-mana dot greenless"></div>
</div>

<!-- linthtml-configure attr-bans="false" -->
<svg width="0" height="0">
<!-- linthtml-configure attr-bans="$previous" -->
  <defs>
<!-- linthtml-configure tag-name-lowercase="false" -->
    <clipPath id="obtuse" clipPathUnits="objectBoundingBox">
<!-- linthtml-configure tag-name-lowercase="$previous" -->
      <path d="M0.975,1 l-0.949,0 C0.025,0.912,0.017,0.824,0,0.746 L0.5,0
          l0.5,0.746 C0.983,0.824,0.975,0.912,0.975,1" />
    </clipPath>
    <!-- linthtml-configure tag-name-lowercase="false" -->
    <clipPath id="petal" clipPathUnits="objectBoundingBox">
<!-- linthtml-configure tag-name-lowercase="$previous" -->
      <path d="M0.5,1 c0.055,0,0.11,-0.009,0.162,-0.027 c0.05,-0.017,0.097,
          -0.042,0.139,-0.074 c0.042,-0.032,0.079,-0.07,0.108,-0.113 c0.031,
          -0.044,0.054,-0.093,0.069,-0.144 c0.015,-0.052,0.023,-0.107,0.02,
          -0.161 c-0.003,-0.045,-0.015,-0.089,-0.039,-0.128 c-0.022,-0.037,
          -0.053,-0.069,-0.086,-0.097 c-0.036,-0.03,-0.075,-0.055,-0.114,-0.079
          c-0.041,-0.025,-0.082,-0.048,-0.123,-0.073 c-0.04,-0.024,-0.079,
          -0.051,-0.114,-0.081 C0.516,0.015,0.508,0.008,0.5,0 c-0.033,0.033,
          -0.07,0.06,-0.109,0.085 c-0.04,0.026,-0.081,0.05,-0.122,0.074 C0.228,
          0.183,0.188,0.207,0.151,0.235 c-0.035,0.026,-0.069,0.056,-0.095,0.092
          c-0.026,0.035,-0.044,0.076,-0.052,0.119 c-0.009,0.052,-0.005,0.107,
          0.006,0.158 c0.011,0.052,0.031,0.103,0.058,0.149 c0.027,0.045,0.061,
          0.087,0.1,0.121 c0.039,0.035,0.084,0.064,0.133,0.085 c0.05,0.022,
          0.103,0.035,0.157,0.039 C0.472,0.999,0.486,1,0.5,1" />
    </clipPath>
<!-- linthtml-configure tag-name-lowercase="false" -->
    <clipPath id="halfPetal" clipPathUnits="objectBoundingBox">
<!-- linthtml-configure tag-name-lowercase="$previous" -->
        <path d="M0.5,1
            c0.055,0,0.11,-0.009,0.162,-0.027 c0.05,-0.017,0.097,-0.042,0.139,
            -0.074 c0.042,-0.032,0.079,-0.07,0.108,-0.113 c0.031,-0.044,0.054,
            -0.093,0.069,-0.144 c0.015,-0.052,0.023,-0.107,0.02,-0.161 c-0.003,
            -0.045,-0.015,-0.089,-0.039,-0.128 c-0.022,-0.037,-0.053,-0.069,
            -0.086,-0.097 c-0.036,-0.03,-0.075,-0.055,-0.114,-0.079 c-0.041,
            -0.025,-0.082,-0.048,-0.123,-0.073 c-0.04,-0.024,-0.079,-0.051,
            -0.114,-0.081 C0.516,0.015,0.508,0.008,0.5,0" />
      </clipPath>
  </defs>
</svg>

<commander-selector id="selector"
    on-commander-selected="handleCommanderSelected_"></commander-selector>
<image-adjuster id="adjuster"></image-adjuster>
<preview-hover></preview-hover>
