<style include="challenge-32"></style>
<iron-ajax
  auto
  url="/commanders"
  handle-as="json"
  on-response="getCommanders_"></iron-ajax>

<div id="content">
  <div class="ally deck azorius" on-tap="listWUCommanders_"><div class="background"></div></div>
  <div class="ally deck dimir" on-tap="listUBCommanders_"><div class="background"></div></div>
  <div class="ally deck rakdos" on-tap="listBRCommanders_"><div class="background"></div></div>
  <div class="ally deck gruul" on-tap="listRGCommanders_"><div class="background"></div></div>
  <div class="ally deck selesnya" on-tap="listGWCommanders_"><div class="background"></div></div>

  <div class="wedge deck jeskai" on-tap="listWRUCommanders_"><div class="background"></div></div>
  <div class="wedge deck sultai" on-tap="listUGBCommanders_"><div class="background"></div></div>
  <div class="wedge deck mardu" on-tap="listBWRCommanders_"><div class="background"></div></div>
  <div class="wedge deck temur" on-tap="listRUGCommanders_"><div class="background"></div></div>
  <div class="wedge deck abzan" on-tap="listGBWCommanders_"><div class="background"></div></div>

  <div class="shard deck bant" on-tap="listGWUCommanders_"><div class="background"></div></div>
  <div class="shard deck esper" on-tap="listWUBCommanders_"><div class="background"></div></div>
  <div class="shard deck grixis" on-tap="listUBRCommanders_"><div class="background"></div></div>
  <div class="shard deck jund" on-tap="listBRGCommanders_"><div class="background"></div></div>
  <div class="shard deck naya" on-tap="listRGWCommanders_"><div class="background"></div></div>

  <div class="enemy deck simic" on-tap="listGUCommanders_"><div class="background"></div></div>
  <div class="enemy deck orzhov" on-tap="listWBCommanders_"><div class="background"></div></div>
  <div class="enemy deck izzet" on-tap="listURCommanders_"><div class="background"></div></div>
  <div class="enemy deck golgari" on-tap="listBGCommanders_"><div class="background"></div></div>
  <div class="enemy deck boros" on-tap="listRWCommanders_"><div class="background"></div></div>

  <div class="four-color-constellation">
    <div class="four-color deck whiteless" on-tap="listUBRGCommanders_"><div class="background"></div></div>
    <div class="four-color deck blueless" on-tap="listWBRGCommanders_"><div class="background"></div></div>
    <div class="four-color deck blackless" on-tap="listWURGCommanders_"><div class="background"></div></div>
    <div class="four-color deck redless" on-tap="listWUBGCommanders_"><div class="background"></div></div>
    <div class="four-color deck greenless" on-tap="listWUBRCommanders_"><div class="background"></div></div>
  </div>

  <div class="pentacolor deck" on-tap="listWUBRGCommanders_"><div class="background"></div></div>

  <div class="white-mana dot whiteless"></div>
  <div class="blue-mana dot blueless"></div>
  <div class="black-mana dot blackless"></div>
  <div class="red-mana dot redless"></div>
  <div class="green-mana dot greenless"></div>

  <img src="/images/w.svg" class="white-mana mana-symbol" on-tap="listWCommanders_">
  <img src="/images/u.svg" class="blue-mana mana-symbol" on-tap="listUCommanders_">
  <img src="/images/b.svg" class="black-mana mana-symbol" on-tap="listBCommanders_">
  <img src="/images/r.svg" class="red-mana mana-symbol" on-tap="listRCommanders_">
  <img src="/images/g.svg" class="green-mana mana-symbol" on-tap="listGCommanders_">

  <img src="/images/c.svg" class="colorless-mana mana-symbol" on-tap="listCCommanders_">
  <div class="any-type mana-symbol" on-tap="listAllCommanders_">?</div>
</div>
