<style include="challenge-32"></style>
<iron-ajax
  auto
  url="/commanders"
  handle-as="json"
  on-response="getCommanders_"></iron-ajax>

<iconset-mtg></iconset-mtg>
<paper-tooltip
    fit-to-visible-bounds
    for="menuButton">Toggle edit menu</paper-tooltip>
<paper-icon-button
    id="menuButton"
    icon="menu"
    on-tap="toggleMenu_"></paper-icon-button>
<!-- linthtml-configure attr-bans="false" -->
<app-drawer
    id="menu"
    align="end"
    on-opened-changed="handleMenuToggle_">
<!-- linthtml-configure attr-bans="$previous" -->
  <h2>Edit commanders</h2>
  <toggle-button-group
      attr-for-value="color"
      value="{{editId_}}"
      on-group-value-changed="handleEditIdChanged_">
    <icon-toggle-button icon="mtg:w" color="W"></icon-toggle-button>
    <icon-toggle-button icon="mtg:u" color="U"></icon-toggle-button>
    <icon-toggle-button icon="mtg:b" color="B"></icon-toggle-button>
    <icon-toggle-button icon="mtg:r" color="R"></icon-toggle-button>
    <icon-toggle-button icon="mtg:g" color="G"></icon-toggle-button>
    <icon-toggle-button icon="mtg:c" color="C"></icon-toggle-button>
  </toggle-button-group>
  <h3>[[identityToName_(editId_)]]: [[editId_]]</h3>
  <p>
    Selected commander(s):
    <template is="dom-if" if="[[hasCommanderFor_(editId_, diagram_.*)]]">
      <template is="dom-repeat" items="[[commanderFor_(editId_, diagram_.*)]]">
        <template is="dom-if" if="[[index]]">
          &
        </template>
        <span class="bold">[[item.name]]</span>
      </template>
    </template>
    <template is="dom-if" if="[[!hasCommanderFor_(editId_, diagram_.*)]]">
      <span class="italic">None</span>
    </template>
  </p>
  <paper-button on-tap="listEditCommanders_">
    <template is="dom-if" if="[[hasCommanderFor_(editId_, diagram_.*)]]">
      Change selected commander(s)
    </template>
    <template is="dom-if" if="[[!hasCommanderFor_(editId_, diagram_.*)]]">
      Select commander(s)
    </template>
  </paper-button>
  <div class="commander-images">
    <template is="dom-repeat" items="[[commanderFor_(editId_, diagram_.*)]]">
      <div class="art-edit" style$="background-image: url([[item.image.art]])">
        <div class="hover-message" on-tap="handleImageAdjust_">
          <span>Adjust image</span>
        </div>
      </div>
    </template>
  </div>
  <paper-input id="decklist"
      label="Link to decklist"
      on-keydown="decklistKeydown_"></paper-input>
  <template is="dom-if" if="[[hasDecklist_(editId_, metadata_.*)]]">
    <p>
      <a href$="[[getDecklist_(editId_, metadata_.*)]]"
          target="_blank"
          rel="noopener">
        <span>[[getDecklistDisplay_(editId_, metadata_.*)]]</span>
        <iron-icon icon="link"></iron-icon>
      </a>
    </p>
  </template>
  <hr>
  <h3>Additional commanders in [[identityToName_(editId_)]]</h3>
  <div class="additional-commanders">
    <paper-button on-tap="listEditExtraCommanders_">
      <iron-icon icon="add-circle"></iron-icon>
      <span>Add additional commander(s)</span>
    </paper-button>
    <div class="list">
      <template is="dom-repeat" items="[[additionalCommanders_]]">
        <div class="additional-item">
          <div>
            <div class="art"
                style$="background-image: url([[item.0.image.art]])"></div>
            <template is="dom-if" if="[[item.1]]">
              <div class="art"
                  style$="background-image: url([[item.1.image.art]])"></div>
            </template>
            <paper-icon-button icon="delete"
                class="delete"
                on-tap="deleteAdditionalCommander_"></paper-icon-button>
            <paper-icon-button icon="get-app"
                class="promote"
                on-tap="promoteAdditionalCommander_"></paper-icon-button>
          </div>
          <span>
            [[item.0.name]]
            <template is="dom-if" if="[[item.1]]">
              & [[item.1.name]]
            </template>
          </span>
        </div>
      </template>
    </div>
  </div>
  <hr>
  <paper-button class="remove"
      on-tap="removeCommander_">Remove commander(s)</paper-button>
</app-drawer>

<div id="indicator">
  <paper-progress
      max="32"
      value="[[decksCompleted_(diagram_.*)]]"
      data-label$="[[progressLabel_(diagram_.*)]]">
  </paper-progress>
</div>


<div id="content">
  <img src="/images/c.svg"
      class="colorless-mana mana-symbol deck"
      alt="mana symbol"
      on-tap="listCCommanders_"
      on-mousemove="handlePreviewHoverHelper_"
      on-mouseleave="handlePreviewUnhover_">
  <div class="colorless-mana deck colorless"
      style$="visibility: [[isVisible_(diagram_.colorless)]]"
      on-tap="listCCommanders_"
      on-mousemove="handlePreviewHover_"
      on-mouseleave="handlePreviewUnhover_">
    <div class="background">
      <div class="image"
          style$="[[getImageStyle_('colorless', diagram_.colorless, 0)]]">
      </div>
      <template is="dom-if" if="[[diagram_.colorless.1]]">
        <div class="image"
            style$="[[getImageStyle_('colorless', diagram_.colorless, 1)]]">
        </div>
        <div class="partner-separator"></div>
      </template>
    </div>
  </div>

  <template is="dom-repeat" items="[[generatorData_]]">
    <template is="dom-if" if="[[hasSymbolUrl_(item)]]">
      <img src$="/images/[[item.id]].svg"
          class$="[[item.type]] mana-symbol deck"
          alt="mana symbol"
          on-tap="generatorItemTapped_"
          on-mousemove="handlePreviewHoverHelper_"
          on-mouseleave="handlePreviewUnhover_">
    </template>
    <div class$="[[item.type]] deck [[item.name]]"
        on-tap="generatorItemTapped_"
        on-mousemove="handlePreviewHover_"
        on-mouseleave="handlePreviewUnhover_">
      <div class="background">
        <div class="border" style$="visibility: [[isVisible_(item.data)]]">
          <div class="image"
              style$="[[getImageStyle_(item.name, item.data, 0)]]"></div>
          <template is="dom-if" if="[[hasPartner_(item.data)]]">
            <div class="image"
                style$="[[getImageStyle_(item.name, item.data, 1)]]"></div>
            <div class="partner-separator"></div>
          </template>
        </div>
      </div>
    </div>
  </template>

  <div class="white-mana dot whiteless"></div>
  <div class="blue-mana dot blueless"></div>
  <div class="black-mana dot blackless"></div>
  <div class="red-mana dot redless"></div>
  <div class="green-mana dot greenless"></div>

  <div class="hide-aliasing"></div>
</div>

<commander-selector id="selector"
    on-commander-selected="handleCommanderSelected_"></commander-selector>
<image-adjuster id="adjuster"
    on-image-adjustment-confirmed="handleImageAdjusted_"></image-adjuster>
<preview-hover></preview-hover>
